<div data-ng-controller="EditProspectsController">
	<div>
	  <ul class="breadcrumb">
		<li><a href="#/prospects">{{'label.anchor.request.quotation' | translate}}</a> <span class="divider">/</span></li>
		<li class="active">{{'label.editprospect' | translate}}</li>
	  </ul>
	</div>
<form name="editprospectsform" novalidate class="form-horizontal well" rc-submit="submit()">
	<api-validate></api-validate>
	<table>
		<tr>
			<td>
				<div class="control-group">
					<label class="control-label" for="firstName">{{'label.firstname' | translate }}<span class="required">*</span></label>
					<div class="controls">
						<input type="text" id="firstName" name="firstName" data-ng-model="formData.firstName" required>
						<form-validate valattributeform="editprospectsform" valattribute="firstName"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="middleName">{{'label.middlename' | translate }}</label>
					<div class="controls">
						<input type="text" id="middleName" ng-model="formData.middleName">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="lastName">{{'label.lastname' | translate }}<span class="required">*</span> </label>
					<div class="controls">
						<input type="text" id="lastName" name="lastName" data-ng-model="formData.lastName" required>
						<form-validate valattributeform="editprospectsform" valattribute="lastName"/>
					</div>
				</div>
			</td>
			<td valign="top">
				<div class="control-group">
					<label class="control-label" for="mobileNumber">{{'label.mobilephone' | translate }}<span class="required">*</span> </label>
					<div class="controls">
						<input type="text" id="mobileNumber" data-ng-model="formData.mobileNumber" ng-pattern="/^[0-9]+$/"
							name="mobilenumber" maxlength="15" required>
						<span ng-show="editprospectsform.mobilenumber.$invalid && editprospectsform.mobilenumber.$dirty">
	                      <small class="required" ng-show="editprospectsform.mobilenumber.$error.pattern"><br/>
	                          {{'label.mustbenumeric' | translate}}
	                      </small>
		                </span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="emailId">{{'label.emailid' | translate }}</label>
					<div class="controls">
						<input type="email" id="emailId" ng-model="formData.emailId" name="emailId">
					</div>
				</div>
			</td>
		
		</tr>
	</table>
	<strong>{{'label.prospect.addressdetails' | translate}}</strong>
	<table>
		<tr>
			<td>
				<div class="control-group">
					<label class="control-label" for="address">{{'label.address' | translate }}<span class="required">*</span></label>
					<div class="controls">
						<input type="text" id="address" name="address" data-ng-model="formData.address" required>
						<form-validate valattributeform="editprospectsform" valattribute="address"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="note">{{ 'label.note' | translate }}<span class="required">*</span></label>
					<div class="controls">
						<textarea id="note" data-ng-model="formData.note" name="note" required> </textarea>
						<form-validate valattributeform="editprospectsform" valattribute="note"/>
					</div>
				</div>
			</td>
			<td valign="top">
				<div class="control-group">
					<label class="control-label" for="sourceOfPublicity">{{'label.source' | translate }}</label>
					<div class="controls">
						<select data-ng-model="formData.sourceOfPublicity"
							data-ng-options="sourceOfPublicityData.mCodeValue as sourceOfPublicityData.mCodeValue for sourceOfPublicityData in sourceOfPublicityDatas"
							data-value="{{sourceOfPublicityData.mCodeValue}}">
						</select>
	
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ 'label.nextcalltime' | translate }}<span class="required">*</span></label>
					<div class="controls">
						<input type="text" name="preferredCallingTime" min="minDate" data-datepicker-pop="dd MMMM yyyy" data-ng-model="first.date" 
							data-late-Validate style="width: 130px; background-color: #FFFFFF;" readonly required/>
	
						 <input id="timepicker1" type="text"  data-ng-model="first.time"
							style="width: 60px; background-color: #FFFFFF;">
							
					   <form-validate valattributeform="editprospectsform" valattribute="preferredCallingTime"/>
					</div>
				</div>
			</td>
		</tr>
		<tr>
		  <td>
		  	 <div class="control-group">
				<label class="control-label" for="loanProductId">{{'label.product' | translate }}<span class="required">*</span></label>
				<div class="controls">
					<select data-ng-model="formData.loanProductId" name="loanProductId" id="loanProductId"
						data-ng-options="productData.id as productData.productName for productData in productDatas"
						ng-change="productChange(formData.loanProductId)" required>
					</select>&nbsp;
					<form-validate valattributeform="editprospectsform" valattribute="loanProductId"/>
				</div>
			</div>
			<!-- <div class="control-group" ng-show= "isFileShow">
              <div class="controls">
                <a ng-hide="formData.status =='-1'" ng-click="downloadFile()"><i class=" icon-download-alt icon-white"></i> Download File</a>
                &nbsp;{{formData.location}}
              </div>
            </div> -->
		  </td>
		</tr>
	</table>
	<br/>
	<div class="offset5">
		<a href="#/prospects"><button type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
		<button type="submit" class="btn btn-primary" has-permission='UPDATE_PROSPECT'>{{'label.button.calculate'| translate}}</button>
	</div>

</form>
</div>