<div data-ng-controller="ProspectsController">
<api-validate></api-validate>
<div>
    <ul class="breadcrumb">
        
        <li class="active">{{'label.anchor.request.quotation' | translate}}&nbsp;&nbsp;{{employee.lastname}}</li>
    </ul>
    <div class="pull-right">
        <a href="#/createprospects" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'link.create.new.prospect' | translate }}</a>
    </div>
</div>

<div class="row-fluid">
 <input ng-autofocus="true" ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'label.input.filterbyname' | translate}}">
	<table class="table">
        <thead>
            <tr class="graybg">
                <!-- <th>{{ 'table.heading.prospectId' | translate }}</th> -->
                <th>{{ 'table.heading.name' | translate }}</th>
                <th>{{ 'label.nextcallDate' | translate }}</th>
                <th>{{ 'table.heading.emailId' | translate }}</th>
                <th>{{ 'table.heading.phonenumber' | translate }}</th>
                <th>{{ 'table.heading.address' | translate }}</th>           
                <th>{{ 'table.heading.status' | translate }}</th>
                <th>{{ 'table.action' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="prospect in prospects.currentPageItems | filter:filterText">                      
                <!-- <td class="pointer" data-ng-click="routeTo(prospect.id)">{{prospect.id}}</td> -->
                <td>{{prospect.firstName}}&nbsp{{prospect.lastName}}</td>
                <td>{{prospect.preferredCallingTime | DateFormat}}</td>
                <td>{{prospect.emailId}}</td>         
                <td>{{prospect.mobileNumber}}</td>  
                <td>{{prospect.address}}</td>        
                <td>{{prospect.status}}</td>
                <td>
				<a data-ng-click="convertProspect(prospect.id)" ng-hide="prospect.status == 'Closed'"
					style='color:#000000' data-popover="convert to client" data-popover-trigger="mouseenter" ><i class="icon-user"></i></a> 
				<a href="#/editprospects/{{prospect.id}}" ng-hide="prospect.status == 'Closed'"
					style='color:#000000' data-popover="Edit" data-popover-trigger="mouseenter" ><i class="icon-edit icon-white"></i></a> 
				<a href="" ng-hide="prospect.status == 'Closed'" ng-click="download(prospect.location)"
					style='color:#000000' data-popover="Download" data-popover-trigger="mouseenter" ><i class="icon-download-alt icon-white"></i></a> 
                </td>                     
            </tr>	
            
        </tbody>
    </table>
    <ul class="pager">
        			<li class="previous"><a data-ng-click="prospects.previous()" href="" data-ng-disabled="!prospects.hasPrevious()">&larr; {{ 'label.prev' | translate }} </a></li>
        			<li class="next" ><a data-ng-click="prospects.next()" href="" data-ng-disabled="!prospects.hasNext()"> {{ 'label.next' | translate }} &rarr;</a></li>
	</ul>
</div>
</div>