<div data-ng-controller="EditFeeMasterController">
  <div>
    <ul class="breadcrumb">
      <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a> <span class="divider">/</span></li>
      <li><a href="#/feemaster">{{'label.feemaster' | translate}}</a> <span class="divider">/</span></li>
      <li class="active">{{'label.edit.feemaster' | translate}}</li>
    </ul>
  </div>
      <form name="editfeemasterform" novalidate class="form-horizontal well"  rc-submit="submit()">
       <api-validate></api-validate>
        <fieldset>
          <legend>{{'label.edit.feemaster' | translate}}</legend>
			<table>
			  <tr>
				<td valign="top">
				   <div class="control-group">
            		 <label class="control-label" for="feeCode">{{'label.feemaster.code' | translate }}&nbsp;<span class="required">*</span></label>
            		   <div class="controls">
              			<input type="text" id="feeCode" name="feeCode" data-ng-model="formData.feeCode" required maxlength="10"  ><br/>
              				<form-validate valattributeform="editfeemasterform" valattribute="feeCode"/>
            		   </div>
          		     </div>
				</td>
				<td valign="top">
					<div class="control-group">
           				<label class="control-label" for="feeDescription">{{'label.feemaster.description' | translate }}&nbsp;<span class="required">*</span></label>
           				<div class="controls">
             				<input type="text" id="feeDescription" name="feeDescription" data-ng-model="formData.feeDescription"  required ><br/>
             				<form-validate valattributeform="editfeemasterform" valattribute="feeDescription"/>
           				</div>
         			</div>
				</td>
			</tr>
			<tr>
				<td valign="top">
					<div class="control-group">
           	 			<label class="control-label" for="transactionType">{{'label.feemaster.transactiontype' | translate }}&nbsp;<span class="required">*</span></label>
            			<div class="controls">
              				<select id="transactionType" data-ng-model="formData.transactionType" name="transactionType" 
              				 	data-ng-options="transactionTypeData.mCodeValue as transactionTypeData.mCodeValue for transactionTypeData in transactionTypeDatas"  required>
              				 	<option value="">{{'label.selectone' | translate}}</option>
              				</select>
              				<form-validate valattributeform="editfeemasterform" valattribute="transactionType"/>
            			</div>
          			</div>
				</td>
				<td valign="top">
				  <div class="control-group">
                    <label class="control-label">{{'label.input.depositon' | translate}}<span class="required">*</span></label>
                    <div class="controls">
                        <select id="depositOn" name="depositOn" ng-model="formData.depositOn"  ng-options="depositOn.id as depositOn.value for depositOn in depositOnTypeOptions" value="{{depositOn.id}}" required>
                          <option value="">{{'label.selectone' | translate}}</option>
                        </select>
                        <form-validate valattributeform="editfeemasterform" valattribute="depositOn"/>
                    </div>
                </div>
				</td>
			</tr>
			<tr>
			  <td valign="top">
				  <div class="control-group">
                    <label class="control-label">{{'label.input.deposittimetype' | translate}}<span class="required">*</span></label>
                    <div class="controls">
                        <select id="depositTimeType" name="depositTimeType" ng-model="formData.depositTimeType"  ng-options="timetype.id as timetype.value for timetype in depositTimeTypeOptions" value="{{timetype.id}}" required>
                          <option value="">{{'label.selectone' | translate}}</option>
                        </select>
                        <form-validate valattributeform="editfeemasterform" valattribute="depositTimeType"/>
                    </div>
                </div>
				</td>			
			  <td valign="top">
			  	<div class="control-group">
                    <label class="control-label">{{'label.input.depositcalculation' | translate}}<span class="required">*</span></label>
                    <div class="controls">
                        <select id="depositCalculationType" name="depositcalculation" ng-model="formData.depositCalculationType"  ng-options="depositcalculation.id as depositcalculation.value for depositcalculation in depositCalculationTypeOptions" value="{{depositcalculation.id}}" required>
                          <option value="">{{'label.selectone' | translate}}</option>
                        </select>
                        <form-validate valattributeform="editfeemasterform" valattribute="depositcalculation"/>
                    </div>
                </div>
			  </td>
			</tr>
			<tr>
		      <td valign="top">
			   <div class="control-group">
       		      <label class="control-label" for="amount ">{{'label.feemaster.amount' | translate }}&nbsp;<span class="required">*</span></label>
       		      <div class="controls">
         				<input type="text" id="amount" name="amount" data-ng-model="formData.amount" required><br/>
        					<form-validate valattributeform="editfeemasterform" valattribute="amount"/>
       			   </div>
      			</div>
		      </td>
			</tr>
			<tr>
			  <td></td>
			  <td>
				<div class="pull-right">
		          <a href="#/viewfeemaster/{{id}}"><button id="cancel" type="reset" class="btn" >{{'label.button.cancel'| translate}}</button></a>
		          <button id="submit" type="submit" class="btn btn-primary"  >{{'label.button.save'| translate}}</button>
		       	</div>	
			  </td>
			</tr>
		</table>
     </fieldset>
  </form>
 </div>
 
 