<div data-ng-controller="ViewFeeMasterController">
	<ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a> <span class="divider">/</span></li>
        <li><a href="#/feemaster">{{'label.feemaster' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{feeMasterData.feeCode}}</li>
    </ul>
    <div class="pull-right">
      <div class="btn-group">
          <a href="#/editfeemaster/{{feeMasterData.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> {{'label.button.edit'|translate}}</a>
         <a data-ng-click="deleteFeeMaster()" class="btn btn-primary"><i class="icon-trash icon-white"></i> {{'label.button.delete'|translate}}</a>
      </div>
    </div>
	<div class="row paddedleft" >
		<table style="width:100%;">
			<tr>
				<td width="20%">{{ 'label.feemaster.code' | translate }}</td>
				<td width="70%">{{feeMasterData.feeCode}}</td>
			</tr>
			<tr>
				<td>{{ 'label.feemaster.description' | translate }}</td>
				<td>{{feeMasterData.feeDescription}}</td>
			</tr>
			<tr>
				<td>{{ 'label.feemaster.transactiontype' | translate }}</td>
				<td>{{feeMasterData.transactionType}}</td>
			</tr>
			<tr>
				<td>{{ 'label.input.chargetimetype' | translate }}</td>
				<td>{{feeMasterData.chargeTimeType.value}}</td>
			</tr>
			<tr>
				<td>{{ 'label.input.chargecalculation' | translate }}</td>
				<td>{{feeMasterData.chargeCalculationType.value}}</td>
			</tr>
			<tr>
				<td>{{ 'label.feemaster.defaultfeeamount' | translate }}</td>
				<td>{{feeMasterData.defaultFeeAmount}}</td>
			</tr>
		</table>
	</div>
	<script type="text/ng-template" id="delete.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
	
</div>
          