 <div ng-controller="SaleCalculatorController" >  
      <div>
        <ul class="breadcrumb">
          <li class="active">{{'label.anchor.calculator' | translate}}</li>
        </ul>
      </div>
   <form name="createcalculatorform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
          <legend>{{'label.anchor.calculator' | translate}}</legend>
		<table>
         <tr><td>
          <div class="control-group">
            <label class="control-label" for="productId">{{ 'label.heading.loanproduct' | translate }}&nbsp;<span class="required">*</span></label>
            <div class="controls">
              <select id="productId" id="productId" name="productId" ng-model="formData.productId" ng-options="product.id as product.name for product in leaseproducts" ng-change="leaseProductChange(formData.productId)" required="required">
                <option style="display:none" value="">{{'label.selectloanproduct' | translate}}</option>
              </select>
              <form-validate valattributeform="createcalculatorform" valattribute="productId"/>
             </div>
           </div>
		</td>
		<td>
          <div class="control-group">
            <label class="control-label" for="principal">{{ 'label.calculator.vehicle.cost' | translate }}<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="principal" name="principal" ng-model="formData.principal" required late-Validate/>
              <form-validate valattributeform="createcalculatorform" valattribute="principal"/>
            </div>
          </div>
        </td>
        </tr>
       	<tr>
       	<td colspan="2">
          <div class="control-group">
            <label class="control-label" for="terms">{{ 'label.calculator.terms' | translate }}<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="terms" name="terms" ng-model="terms" class="input-small" required/>
            <button type="submit" class="btn btn-primary">{{'label.button.calculate'| translate}}</button><br/>
              <form-validate valattributeform="createcalculatorform" valattribute="terms"/>
            </div>
          </div>
       	</td>
       	</tr>
       	</table>
    <table style="width: 100%;">
      <tr>
        <td>
          	<div ng-show="leaseCalculator && isProspect">
        		<span><a ng-hide="previewRepayment" ng-click="previewRepayments()">{{'label.anchor.repaymentinfo' | translate}}<i class="icon-circle-arrow-right"></i></a></span>
        		<span><a ng-show="previewRepayment" ng-click="previewRepayment=!previewRepayment"><i class="icon-circle-arrow-left">{{'label.anchor.backtoinfo' | translate}}</i></a><br><br></span>
      		</div>
        </td>
        <td>
          <div class=" btn btn-primary pull-right" ng-show="leaseCalculator && previewRepayment" ng-click="saveFile()">{{'label.button.save' | translate}}</div>
        </td>
      </tr>
    </table>
    <div class="control-group">
        <table class="table" ng-show="previewRepayment">
          <thead>
            <th colspan="3" scope="col"></th>
            <th colspan="3" scope="col">{{'label.heading.loanamountandbalance' | translate}}</th>
            <th colspan="2" scope="col">{{'label.heading.totalcostofloan' | translate}}</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>#</td>
                <td>{{'label.heading.date' | translate}}</td>
                <td>{{'label.heading.days' | translate}}</td>
                <td>{{'label.heading.disbursement' | translate}}</td>
                <td>{{'label.heading.principaldue' | translate}}</td>
                <td>{{'label.heading.principalbalance' | translate}}</td>
                <td>{{'label.heading.interestdue' | translate}}</td>
                <td>{{'label.heading.fees' | translate}}</td>
                <td>{{'label.heading.due' | translate}}</td>
            </tr>
            <tr ng-repeat="period in repaymentscheduleinfo.periods">
              <td>{{period.period}}</td>
              <td>{{period.dueDate | DateFormat}}</td>
              <td>{{period.daysInPeriod}}</td>
              <td>{{period.principalDisbursed}}</td>
              <td>{{period.principalDue}}</td>
              <td>{{period.principalLoanBalanceOutstanding}}</td>
              <td>{{period.interestDue}}</td>
              <td>{{period.feeChargesDue}}</td>
              <td>{{period.totalDueForPeriod}}</td>
            </tr>
            <tfoot class="ui-widget-header">
              <tr>
                <td colspan="2">{{'label.heading.total' | translate}}</td>
                <td>{{repaymentscheduleinfo.loanTermInDays}}</td>
                <td>{{repaymentscheduleinfo.totalPrincipalDisbursed}}</td>
                <td>{{repaymentscheduleinfo.totalPrincipalExpected}}</td>
                <td></td>
                <td>{{repaymentscheduleinfo.totalInterestCharged}}</td>
                <td>{{repaymentscheduleinfo.totalFeeChargesCharged}}</td>
                <td>{{repaymentscheduleinfo.totalRepaymentExpected}}</td>
              </tr>
            </tfoot>
          </tbody>
        </table>
      </div>
   </fieldset>
  </form>
</div> 